
body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   .emoji{
        height: 50px;
   }
   .A{
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 15px;
   }
   .js-result{
    margin-top :30px;
     font-size: 20px;
     font-weight: bold;
   }
   .reset{
        height: 40px;
        width: 100px;
        margin-top: 30px;
   }
   .js-score{
    margin-top :30px;
     font-size: 20px;
     font-weight: bold;
   }
